/* @media (width>=700px){
    main {
        max-width: 1000px;
        margin: 0 auto
        }
    } */

/* @media (width>=1200px) {
        .grid.. {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    } */

img {
  max-width: 100%;
  place-self: stretch;
  object-fit: cover;
  height: auto;
}

/* h1{
    place-self: ;
    font-size: 3vw;
} */

.nav {
  list-style: none;
  display: inline;
}
