@font-face {
  font-family: "openS";
  src: url(fonts/Open_Sans/static/OpenSans_Condensed-Light.ttf);
}

@font-face {
  font-family: "antic";
  src: url(fonts/Antic_Didone/AnticDidone-Regular.ttf);
}

img {
  max-width: 100%;
  /* place-self: stretch; */
  object-fit: cover;
  height: 50%;
  border-radius: 1em;
  padding: 1rem;
}

.billede {
  max-width: 100%;
  object-fit: cover;
  height: 40%;
  width: 70ch;
}

h1 {
  font-family: "antic";
  text-align: center;
}

p {
  font-family: "openS";
}

h2 {
  font-family: "antic";
}

hr {
  color: brown;
}

nav li {
  display: inline;
  margin-right: 50px;
  font-family: "openS";
  margin-top: 1em;
}

.menu {
  display: flex;
  justify-content: space-between;
  justify-content: right;
  font-family: "openS";
  padding-right: 1em;
}

.tekst {
  text-align: center;
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 10px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.grid_1-1 img {
  width: 100%;
  width: 70ch;
}

body {
  background-image: url(img/baggrund.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

a {
  color: brown;
}
