@font-face {
  font-family: "openS";
  src: url(fonts/Open_Sans/static/OpenSans_Condensed-Light.ttf);
}

@font-face {
  font-family: "antic";
  src: url(fonts/Antic_Didone/AnticDidone-Regular.ttf);
}

img {
  max-width: 100%;
  /* place-self: stretch; */
  object-fit: cover;
  height: auto;
}

h1 {
  font-family: "antic";
  text-align: center;
}

p {
  font-family: "openS";
}

h2 {
  font-family: "antic";
}

nav li {
  display: inline;
  margin-right: 20px;
  font-family: "openS";
}

.menu {
  display: flex;
  justify-content: space-between;
  justify-content: right;
  font-family: "openS";
}

.tekst {
  text-align: left;
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 10px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.grid_1-1 img {
  width: 100%;
  width: 70ch;
}
